name: 'spring-boot-microservices'
services:
  # =========================
  # Eureka Discovery Service
  # =========================
  discovery-service:
    container_name: discovery-service
    build:
      context: ../../Service Discovery/ServiceDiscovery
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    environment:
      - SPRING_APPLICATION_NAME=service-discovery
      - SERVER_PORT=8090
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false
      - EUREKA_INSTANCE_HOSTNAME=discovery-service
      - eureka_client_service_url_defaultZone=http://discovery-service:8090/eureka/
      - MANAGEMENT_TRACING_ENABLED=true
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://tempo:9411/api/v2/spans
      # - management_otlp_tracing_endpoint=http://tempo:4318
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 500m
    labels:
      logging: "promtail"

  # =========================
  # Spring Cloud Config Server
  # =========================
  config-server:
    container_name: config-server
    build:
      context: ../../Config Server/ConfigServer
      dockerfile: Dockerfile
    ports:
      - "8092:8092"
    depends_on:
      - discovery-service
    environment:
      - SPRING_APPLICATION_NAME=config-server
      - SERVER_PORT=8092
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI=https://github.com/zaccode/microservice
      - SPRING_CLOUD_CONFIG_SERVER_GIT_CLONE_ON_START=true
      - SPRING_CLOUD_CONFIG_SERVER_GIT_DEFAULT_LABEL=main
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8090/eureka/
      - MANAGEMENT_TRACING_ENABLED=true
      - MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://tempo:9411/api/v2/spans
      # - management_otlp_tracing_endpoint=http://tempo:4318/v1/traces
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 500m
    labels:
      logging: "promtail"

  # =========================
  # Job Consumer Service
  # =========================
  job-consumer-svc:
    container_name: job-consumer-svc
    build:
      context: ../../Job Management/JobConsumerSvc
      dockerfile: Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "8082:8082"
    environment:
      # === Kafka ===
      # SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      # SPRING_KAFKA_PROPERTIES_BOOTSTRAP_SERVERS: "kafka:9092"
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"

      # === Postgres ===
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/JobDB
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      # SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver

      # === MongoDB ===
      SPRING_DATA_MONGODB_HOST: mongodb
      # SPRING_DATA_MONGODB_PORT: 27017
      # SPRING_DATA_MONGODB_DATABASE: job_scheduler_db
      SPRING_DATA_MONGODB_USERNAME: root
      SPRING_DATA_MONGODB_PASSWORD: root
      # SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE: admin

      # === Redis ===
      REDIS_HOST: redis
      REDIS_PORT: 6379

      # === Service Config ===
      SERVER_PORT: 8082
      # SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8092
      SPRING_PROFILES_ACTIVE: eureka
      MANAGEMENT_TRACING_ENABLED: "true"
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://tempo:9411/api/v2/spans
      # management_otlp_tracing_endpoint: http://tempo:4318/v1/traces
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    # depends_on:
      # kafka:
      #   condition: service_healthy
      # postgres:
      #   condition: service_healthy
      # mongodb:
      #   condition: service_healthy
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700m
    labels:
      logging: "promtail"


  # =========================
  # Job Service 
  # =========================

  job-service:
    container_name: job-service
    build:
      context: ../../Job Management/JobService
      dockerfile: Dockerfile
    volumes:
      - shared-uploads:/data/uploads
    ports:
      - "8081:8081"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      REDIS_HOST: redis
      REDIS_PORT: 6379
      # SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8092
      SPRING_PROFILES_ACTIVE: eureka
      SERVER_PORT: 8081
      MANAGEMENT_TRACING_ENABLED: "true"
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://tempo:9411/api/v2/spans
      # management_otlp_tracing_endpoint: http://tempo:4318/v1/traces
    depends_on:
      # kafka:
      #   condition: service_healthy
      job-consumer-svc:
        condition: service_started
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700m
    labels:
      logging: "promtail"

  # =========================
  # Job Scheduler Service 
  # =========================
  job-scheduler-svc:
    container_name: job-scheduler-svc
    build:
      context: ../../Job Scheduling/watcher
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092  
      # SPRING_DATA_REDIS_HOST: redis
      # SPRING_DATA_REDIS_PORT: 6379
      SERVER_PORT: 8083
      # SPRING_DATA_REDIS_TIMEOUT: 10000ms
      # SPRING_DATA_REDIS_LETTUCE_POOL_MAX_WAIT: 10000ms
      # SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8092
      SPRING_PROFILES_ACTIVE: eureka
      webclient_base-url: http://JOBCONSUMERSVC
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MANAGEMENT_TRACING_ENABLED: "true"
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://tempo:9411/api/v2/spans
      # management_otlp_tracing_endpoint: http://tempo:4318/v1/traces
    depends_on:
      # kafka:
      #   condition: service_healthy
      # postgres:
      #   condition: service_healthy
      # redis:
      #   condition: service_healthy
      job-consumer-svc:
        condition: service_healthy
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700m
    labels:
      logging: "promtail"

  # =========================
  # Executor Service  
  # =========================

  executor-service:
    container_name: executor-service
    build:
      context: ../../Job Execution/executor1   # adjust path to your executor's Dockerfile
      dockerfile: Dockerfile
    volumes:
      - shared-uploads:/data/uploads
    ports:
      - "8084:8084"
    environment:
      SPRING_APPLICATION_NAME: executor
      SERVER_PORT: 8084
      # SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8092
      SPRING_PROFILES_ACTIVE: eureka
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      webclient_base-url: http://JOBCONSUMERSVC
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MANAGEMENT_TRACING_ENABLED: "true"
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://tempo:9411/api/v2/spans
      # management_otlp_tracing_endpoint: http://tempo:4318/v1/traces
    depends_on:
      - config-server
      - discovery-service
      # - kafka
      # - redis
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700m
    labels:
      logging: "promtail"

  # =========================
  # Executor Manual Service   
  # =========================

  executor-manual-service:
    container_name: executor-manual-service
    build:
      context: ../../Job Execution/executor1 - Manual   # adjust path to your Dockerfile
      dockerfile: Dockerfile
    volumes:
      - shared-uploads:/data/uploads
    ports:
      - "8085:8085"
    environment:
      SPRING_APPLICATION_NAME: executorManual
      SERVER_PORT: 8085
      REDIS_HOST: redis
      REDIS_PORT: 6379
      # SPRING_CONFIG_IMPORT: optional:configserver:http://config-server:8092
      SPRING_PROFILES_ACTIVE: eureka
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      webclient_ase-url: http://JOBCONSUMERSVC
      MANAGEMENT_TRACING_ENABLED: "true"
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://tempo:9411/api/v2/spans
      # management_otlp_tracing_endpoint: http://tempo:4318/v1/traces
    depends_on:
      - config-server
      - discovery-service
      # - kafka
      # - redis
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700m
    labels:
      logging: "promtail"

  # =========================
  # API Gateway
  # =========================
  api-gateway:
    container_name: api-gateway
    build:
      context: ../../Api Gateway/ApiGateway
      dockerfile: Dockerfile
    ports:
      - "8091:8091"
    environment:
      SPRING_APPLICATION_NAME: api-gateway
      SERVER_PORT: 8091
      # - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8092
      SPRING_PROFILES_ACTIVE: eureka
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MANAGEMENT_TRACING_ENABLED: "true"
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://tempo:9411/api/v2/spans
      # management_otlp_tracing_endpoint: http://tempo:4318/v1/traces
      # - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8090/eureka/
    depends_on:
      config-server:
        condition: service_started
      discovery-service:
        condition: service_started
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 700m
    labels:
      logging: "promtail"


volumes:
  postgres:
  pgadmin:
  kafka_data:
  redis-data:
  mongo-data:
  shared-uploads:

networks:
  backend:
    external: true
