# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: kafka-pvc
#   namespace: job-scheduler
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 2Gi
#   # storageClassName: standard
#   storageClassName: local-path

# ---
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: kafka-config
#   namespace: job-scheduler
# data:
#   KAFKA_BROKER_ID: "1"
#   KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
#   KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
#   KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092"
#   KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092"
#   KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
#   KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: kafka
#   namespace: job-scheduler
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: kafka
#   template:
#     metadata:
#       labels:
#         app: kafka
#     spec:
#       containers:
#       - name: kafka
#         image: bitnami/kafka:3.6
#         ports:
#         - containerPort: 9092
#         - containerPort: 29092
#         envFrom:
#         - configMapRef:
#             name: kafka-config
#         volumeMounts:
#         - name: kafka-storage
#           mountPath: /var/lib/kafka/data
#         livenessProbe:
#           exec:
#             command:
#             - sh
#             - -c
#             - "kafka-topics --bootstrap-server kafka:9092 --list"
#           initialDelaySeconds: 40
#           periodSeconds: 10
#           timeoutSeconds: 20
#       volumes:
#       - name: kafka-storage
#         persistentVolumeClaim:
#           claimName: kafka-pvc
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: kafka
#   namespace: job-scheduler
# spec:
#   selector:
#     app: kafka
#   ports:
#     - name: internal
#       protocol: TCP
#       port: 9092
#       targetPort: 9092
#     - name: external
#       protocol: TCP
#       port: 29092
#       targetPort: 29092




# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: kafka
#   namespace: job-scheduler
#   labels:
#     app: kafka
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: kafka
#   template:
#     metadata:
#       labels:
#         app: kafka
#     spec:
#       hostname: kafka
#       containers:
#       - name: kafka
#         image: confluentinc/cp-kafka:7.3.2
#         ports:
#         - containerPort: 9092
#           name: external
#         - containerPort: 29092
#           name: internal
#         env:
#         - name: KAFKA_ZOOKEEPER_CONNECT
#           value: "zookeeper:2181"
#         - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
#           value: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
#         - name: KAFKA_ADVERTISED_LISTENERS
#           value: "INTERNAL://kafka:29092,EXTERNAL://localhost:9092"
#         - name: KAFKA_LISTENERS
#           value: "INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092"
#         - name: KAFKA_INTER_BROKER_LISTENER_NAME
#           value: "INTERNAL"
#         - name: KAFKA_BROKER_ID
#           value: "1"
#         - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
#           value: "true"
#         - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
#           value: "1"
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: kafka
#   namespace: job-scheduler
# spec:
#   ports:
#   - name: external
#     port: 9092
#     targetPort: 9092
#   - name: internal
#     port: 29092
#     targetPort: 29092
#   selector:
#     app: kafka
#   type: NodePort


apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: job-scheduler
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: bitnami/kafka:3.7.0
        ports:
        - containerPort: 9092
        env:
        - name: KAFKA_CFG_ZOOKEEPER_CONNECT
          value: "zookeeper:2181"
        - name: ALLOW_PLAINTEXT_LISTENER
          value: "yes"
        - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
          value: "PLAINTEXT:PLAINTEXT"
        - name: KAFKA_CFG_LISTENERS
          value: "PLAINTEXT://:9092"
        - name: KAFKA_CFG_ADVERTISED_LISTENERS
          value: "PLAINTEXT://kafka:9092"
        - name: KAFKA_BROKER_ID
          value: "1"
        - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
          value: "true"
        - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
          value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: job-scheduler
spec:
  selector:
    app: kafka
  ports:
  - port: 9092
    targetPort: 9092
  type: NodePort
