# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: kafka
#   namespace: job-scheduler
#   labels:
#     app: kafka
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: kafka
#   template:
#     metadata:
#       labels:
#         app: kafka
#     spec:
#       containers:
#         - name: kafka
#           image: bitnami/kafka:3.7.0
#           ports:
#             - containerPort: 9092
#           env:
#             - name: KAFKA_CFG_ZOOKEEPER_CONNECT
#               value: "zookeeper:2181"
#             - name: ALLOW_PLAINTEXT_LISTENER
#               value: "yes"
#             - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
#               value: "PLAINTEXT:PLAINTEXT"
#             - name: KAFKA_CFG_LISTENERS
#               value: "PLAINTEXT://:9092"
#             - name: KAFKA_CFG_ADVERTISED_LISTENERS
#               value: "PLAINTEXT://kafka:9092"
#             - name: KAFKA_BROKER_ID
#               value: "1"
#             - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
#               value: "true"
#             - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
#               value: "1"
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: kafka
#   namespace: job-scheduler
# spec:
#   selector:
#     app: kafka
#   ports:
#     - port: 9092
#       targetPort: 9092
#   type: NodePort


apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-pvc
  namespace: job-scheduler
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: job-scheduler
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: bitnami/kafka:3.7.0
          ports:
            - containerPort: 9092
          env:
            - name: KAFKA_CFG_ZOOKEEPER_CONNECT
              value: "zookeeper:2181"
            - name: ALLOW_PLAINTEXT_LISTENER
              value: "yes"
            - name: KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP
              value: "PLAINTEXT:PLAINTEXT"
            - name: KAFKA_CFG_LISTENERS
              value: "PLAINTEXT://:9092"
            - name: KAFKA_CFG_ADVERTISED_LISTENERS
              value: "PLAINTEXT://kafka:9092"
            - name: KAFKA_BROKER_ID
              value: "1"
            - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
              value: "true"
            - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
          volumeMounts:
            - name: kafka-storage
              mountPath: /bitnami/kafka
      volumes:
        - name: kafka-storage
          persistentVolumeClaim:
            claimName: kafka-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: job-scheduler
spec:
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
  type: NodePort
