apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgadmin-pvc
  namespace: job-scheduler
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  # storageClassName: standard
  storageClassName: local-path

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-config
  namespace: job-scheduler
data:
  PGADMIN_DEFAULT_EMAIL: "pgadmin4@pgadmin.org"
  PGADMIN_DEFAULT_PASSWORD: "admin"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
  namespace: job-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
      - name: pgadmin
        image: dpage/pgadmin4
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: pgadmin-config
        volumeMounts:
        - name: pgadmin-storage
          mountPath: /var/lib/pgadmin
      volumes:
      - name: pgadmin-storage
        persistentVolumeClaim:
          claimName: pgadmin-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: job-scheduler
spec:
  type: NodePort
  selector:
    app: pgadmin
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 31004 # NodePort for external access
  type: NodePort
