# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: postgres-pvc
#   namespace: job-scheduler
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 2Gi
#   storageClassName: local-path
# ---
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: postgres-config
#   namespace: job-scheduler
# data:
#   POSTGRES_USER: "root"
#   POSTGRES_PASSWORD: "root"
#   POSTGRES_DB: "JobDB"
# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: postgres
#   namespace: job-scheduler
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: postgres
#   template:
#     metadata:
#       labels:
#         app: postgres
#     spec:
#       containers:
#         - name: postgres
#           image: postgres:14
#           ports:
#             - containerPort: 5432
#           envFrom:
#             - configMapRef:
#                 name: postgres-config
#           volumeMounts:
#             - name: postgres-storage
#               mountPath: /var/lib/postgresql/data
#           livenessProbe:
#             exec:
#               command:
#                 - pg_isready
#                 - -U
#                 - root
#                 - -d
#                 - JobDB
#             initialDelaySeconds: 30
#             periodSeconds: 10
#       volumes:
#         - name: postgres-storage
#           persistentVolumeClaim:
#             claimName: postgres-pvc
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: postgres
#   namespace: job-scheduler
# spec:
#   selector:
#     app: postgres
#   ports:
#     - protocol: TCP
#       port: 5432
#       targetPort: 5432
#   type: NodePort

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: job-scheduler
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-path
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: job-scheduler
data:
  POSTGRES_USER: "root"
  POSTGRES_PASSWORD: "root"
  POSTGRES_DB: "JobDB"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: job-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-config
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - root
                - -d
                - JobDB
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: job-scheduler
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: NodePort
